<p-sidebar
  [(visible)]="showFilters"
  [position]="'right'"
  [modal]="false"
  [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'"
  [blockScroll]="false"
  [closeOnEscape]="true"
>
  <form [formGroup]="filtersForm" class="flex flex-column p-1 pt-4 gap-2">
    <!-- Filtro dias -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="days"
        label="{{ 'map.filters.days' | translate }}"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <p-calendar
        formControlName="daysFilter"
        class="mt-3 mb-4 w-100 flex flex-column"
        dateFormat="yyyy-mm-dd"
        [panelStyleClass]="'card p-0'"
        [inline]="true"
        [selectionMode]="'range'"
        *ngIf="filtersForm.value.days"
      />
    </div>
    <!-- Filtro de tiempo -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="hours"
        label="{{ 'map.filters.hourRange' | translate }}"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <div
        class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter"
        *ngIf="filtersForm.value.hours"
      >
        <small class="text-center mb-2">
          @if(filtersForm.value.hoursFilter[0] ===
          filtersForm.value.hoursFilter[1]){
          {{ filtersForm.value.hoursFilter[0] }}:00h } @else {
          {{ filtersForm.value.hoursFilter[0] }}:00h -
          {{ filtersForm.value.hoursFilter[1] }}:00h }
        </small>
        <app-slider-step [step]="1">
          <p-slider
            formControlName="hoursFilter"
            [step]="1"
            [min]="0"
            [max]="23"
            [range]="true"
            [className]="'ml-2 mb-2 mr-2'"
          />
        </app-slider-step>
      </div>
    </div>
    <!-- Filtro tipos de sonido -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="type"
        label="{{ 'map.filters.soundTypes' | translate }}"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <div
        formGroupName="typeFilter"
        class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter"
        *ngIf="filtersForm.value.type"
      >
        @for (type of typesFilter; track $index) {
        <p-checkbox
          formControlName="{{ type.id }}"
          [label]="type.value"
          [binary]="true"
          [class]="'flex justify-content-start'"
        />
        }
      </div>
    </div>
    <!-- Filtro pression sonora -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="soundPressure"
        label="{{ 'map.filters.pressure' | translate }}"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <div
        class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter"
        *ngIf="filtersForm.value.soundPressure"
      >
        <small class="text-center mb-2">
          {{ filtersForm.value.soundPressureFilter | soundPressureDisplay }}
        </small>
        <app-slider-step [step]="5">
          <p-slider
            formControlName="soundPressureFilter"
            [styleClass]="'step-range'"
            [step]="5"
            [min]="35"
            [max]="80"
            [range]="true"
            [className]="'ml-2 mb-2 mr-2'"
          />
        </app-slider-step>
      </div>
    </div>
    <!-- Filtro influencia positiva -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="positivePlace"
        label="Llocs amb influencia positiva"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <div
        formGroupName="positivePlaces"
        class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter"
        *ngIf="filtersForm.value.positivePlace"
      >
        @for (type of typesPositivePlaces; track $index) {
        <p-checkbox
          formControlName="{{ type.id }}"
          [label]="type.value"
          [binary]="true"
          [class]="'flex justify-content-start'"
        />
        }
      </div>
    </div>
    <!-- Filtro tipo de usuario -->
    <div class="flex flex-column">
      <p-checkbox
        formControlName="typeUser"
        label="{{ 'map.filters.peopleTypes' | translate }}"
        [binary]="true"
        [class]="'flex justify-content-between'"
      />
      <div
        formGroupName="typeUsers"
        class="card mt-3 mb-4 p-3 gap-2 flex flex-column filter"
        *ngIf="filtersForm.value.typeUser"
      >
        @for (type of typesUsers; track $index) {
        <p-checkbox
          formControlName="{{ type.id }}"
          [label]="type.value"
          [binary]="true"
          [class]="'flex justify-content-start'"
        />
        }
      </div>
    </div>
  </form>
</p-sidebar>
