:host {
  display: flex;
  position: relative;
}
.map-container {
  border-radius: 12px;
  border: 1px solid var(--surface-border);
  height: calc(100vh - 2rem);
  margin: 0.5rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

