<div class="flex flex-wrap">

  <div class="col-6">
    <div class="card h-full w-full flex flex-column justify-content-between">
      <h2 class="text-2xl text-center">{{ "overview.observationsNumber.total" | translate }}</h2>
      <p class="text-4xl text-center">{{ totalObs }}</p>
    </div>
  </div>

  <div class="col-6">
    <div class="card h-full w-full flex flex-column justify-content-between">
      <h2 class="text-2xl text-center">
        {{ "overview.observationsNumber.average" | translate }}
      </h2>
      <p class="text-4xl text-center">{{ averageObsPerUser }}</p>
    </div>
  </div>

  <div class="col-12">
    <div class="card h-full w-full flex flex-column justify-content-between">
      <h2 class="text-2xl text-center">
        {{ "overview.observationsNumber.users" | translate }}
      </h2>
      <p class="text-4xl text-center">{{ totalUsers }}</p>
      <div class="flex w-full">
        <div class="w-6">
          <p-table [value]="dataGenre">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">{{ "app.genre" | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">
                  {{ data.value }} {{ data.genre | gender }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="w-6">
          <p-table [value]="dataAge">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">{{ "app.age" | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td class="text-center">{{ data.age }} {{ "app.years" | translate | lowercase }}: {{ data.value }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <p class="text-center">
        <a href="https://home.soundcollectapp.com/termes-i-condicions" target="_blank"
          >{{ "app.terms" | translate }}</a
        >
        i
        <a
          href="https://home.soundcollectapp.com/politica-de-privacidad/"
          target="_blank"
        >{{ "app.privacy" | translate }}</a>
      </p>
    </div>
  </div>
  
</div>

