<section class="flex flex-wrap flex-1">

  <div class="col-12 flex flex-column gap-2 align-items-start">
    <h2 class="font-bold mt-0 mb-0">{{'overview.title' | translate}}</h2>
    <p>
      {{'overview.description' | translate}}
    </p>
  </div>

  <div class="col-12 md:col-6 flex">
    <app-catalunya-map class="card w-full" />
  </div>
  <div class="col-12 md:col-6 flex p-0">
    <app-observation-numbers />
  </div>
  <div class="col-12 flex">
    <app-bar-chart class="card w-full" />
  </div>
</section>
