//PRIMARY

$green: #6FCB67;
$green-light: #93D88D;
$green-lighter: #00FFBF;
$green-transparency: rgba(0, 204, 153, 0.2);

//SECONDARY

$red: #FF3333;
$red-light: #ff6666;
$red-lighter: #ff9999;
$red-transparency: rgba(192, 0, 0, 0.2);

//GREYSCALE

$white: #f8f9f5;
$grey-lighter: #edeef1;
$grey-light: #dcdcda;
$grey: #a0a19f;
$grey-dark: #626260;
$black: #191919;

//OTHERS
$red: #c00000;
$error: #c00000;

$focus-ring: 0 0 0 0.2rem $green-transparency !important;
