<div class="container" id="map">
  <div id="toolsBar">

    <ng-template [ngxPermissionsOnly]="['CREATE-STUDY-ZONES']">
      <div class="tools gap-3">
        @if (!polygonFilter()) {
          @if(!drawing()) {
            <p-button (click)="drawPolygonFilter()" >
              <i class="pi pi-pencil mr-2"></i>
              <span>{{ "admin.studyZone.map.createFilter" | translate }}</span>
            </p-button>
          }
          @else{
            <button pButton type="button" class="p-button-danger" icon="pi pi-times mr-2" (click)="cancelPolygonFilter()">
              <span> {{ "admin.studyZone.map.cancelDrawing" | translate }}</span>
            </button>
          }
        } @else {
          <button pButton type="button" class="p-button-danger" icon="pi pi-trash mr-2" (click)="deletePolygonFilter()">
            <span> {{ "admin.studyZone.map.deleteFilter" | translate }}</span>
          </button>
        }
      </div>
      @if(this.polygonFilter()){
        <p-button
          (click)="toggleStudyZoneForm.emit()"

        >
          <i class="pi pi-save mr-2"></i>
          <span>{{ "admin.studyZone.map.saveStudyZone" | translate }}</span>
        </p-button>
      }
    </ng-template>
    <p-button
      (onClick)="toggleShowMapLayers()"
      pTooltip="{{ 'map.layers.title' | translate }}"
      tooltipPosition="bottom"
    >
      <i class="pi pi-clone"></i>
    </p-button>
  </div>
  <div class="flex flex-wrap flex-1">
    <div #map class="map-container"></div>
  </div>
  <p-sidebar
    [(visible)]="showMapLayers"
    [position]="'right'"
    [modal]="false"
    [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'"
    [blockScroll]="false"
    [closeOnEscape]="true"
  >
    <div class="flex align-items-center">
      <p-radioButton
        value="light-v10"
        [(ngModel)]="layerId"
        (onClick)="toggleLayerVisibility('light-v10')"
      />
      <label for="light-v10" class="ml-2">
        {{ "map.layers.standard" | translate }}
      </label>
    </div>
    <div class="flex align-items-center mt-3">
      <p-radioButton
        value="satellite-streets-v12"
        [(ngModel)]="layerId"
        (onClick)="toggleLayerVisibility('satellite-streets-v12')"
      />
      <label for="satellite-streets-v12" class="ml-2">
        {{ "map.layers.satellite" | translate }}
      </label>
    </div>
  </p-sidebar>
</div>
