<div class="container">

  <div class="col-12 flex flex-column gap-2 align-items-start">
    <h2 class="font-bold mt-0 mb-0">{{'soundscape.title' | translate}}</h2>
    <p>
      {{'soundscape.description' | translate}}
    </p>
  </div>

  <div id="toolsBar">
    <div class="tools gap-3">

      @if (!polygonFilter()) {
        <p-button (click)="drawPolygonFilter()">
          <i class="pi pi-pencil mr-2"></i>
          <span>{{ 'soundscape.map.createFilter' | translate}}</span>
        </p-button>
      }
      @else {
        <p-button (click)="deletePolygonFilter()">
          <i class="pi pi-trash mr-2"></i>
          <span>{{ 'soundscape.map.deleteFilter' | translate}}</span>
        </p-button>

        <div id="timeFilters" class="card flex flex-column p-2 gap-2">
          <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="morning" label="{{ 'soundscape.filter.morning' | translate}}"/>
          <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="afternoon" label="{{ 'soundscape.filter.afternoon' | translate}}"/>
          <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="night" label="{{ 'soundscape.filter.night' | translate}}"/>
          <p-radioButton name="dateFilter" [(ngModel)]="timeFilter" value="wholeDay" label="{{ 'soundscape.filter.wholeDay' | translate}}"/>
          <div class="download flex gap-2">
            <p-button (onClick)="downloadFile('CSV')" [disabled]="observations.length === 0">
              <i class="pi pi-download mr-2"></i>
              <span>{{ 'CSV' | translate}}</span>
            </p-button>
            <!-- <p-splitButton [buttonDisabled]="true" [menuButtonDisabled]="observations.length === 0" label="Archivo gráfico" icon="pi pi-download" [model]="items" /> -->
          </div>
        </div>
      }
      </div>
      <p-button
      (onClick)="toggleShowMapLayers()"
      pTooltip="{{'map.layers.title' | translate}}"
      tooltipPosition="bottom"
    >
      <i class="pi pi-clone"></i>
    </p-button>
  </div>
  <div class="flex flex-wrap w-full">
    <div #map class="map-container"></div>

      <div class="col-12 flex">
        <app-sound-levels-chart class="card w-full" />
      </div>
      <div class="col-12 flex">
        <app-pressure-chart class="card w-full" />
      </div>
    <div class="col-12 flex">
      <app-temporal-evolution-sound-level-chart class="card w-full" [observations]="observations"/>
    </div>
    <div class="col-12 flex">
      <app-tonal-frequency-chart class="card w-full" />
    </div>
    <div class="col-12 flex">
      <app-phychoacustics class="card w-full" />
    </div>
    <div class="col-12 lg:col-6 flex">
      <app-sound-types-chart class="card w-full" />
    </div>
    <div class="col-12 lg:col-6 flex">
      <app-perception-chart class="card w-full" />
    </div>
    <div class="col-12 lg:col-8 flex">
      <app-qualitative-data-chart class="card w-full"/>
    </div>
    <div class="col-12 lg:col-4 flex">
      <app-tag-cloud class="card w-full" />
    </div>
    <div class="col-12 flex">
      <app-quas-chart class="card w-full" />
    </div>
  </div>

</div>
<p-sidebar
  [(visible)]="showMapLayers"
  [position]="'right'"
  [modal]="false"
  [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'"
  [blockScroll]="false"
  [closeOnEscape]="true"
>
  <div class="flex align-items-center">
    <p-radioButton value="light-v10" [(ngModel)]="layerId" (onClick)="toggleLayerVisibility('light-v10')"/>
    <label for="light-v10" class="ml-2"> {{"map.layers.standard" | translate}} </label>
  </div>
  <div class="flex align-items-center mt-3">
    <p-radioButton value="satellite-streets-v12" [(ngModel)]="layerId" (onClick)="toggleLayerVisibility('satellite-streets-v12')"/>
    <label for="satellite-streets-v12" class="ml-2"> {{"map.layers.satellite" | translate}} </label>
  </div>
</p-sidebar>
