<div class="flex justify-content-between align-items-top mb-5">
  <h2>{{'soundscape.perception.title' | translate}}</h2>
  <app-info-modal [headerTitle]="'soundscape.perception.title' | translate">
    <div>
      <p>{{'soundscape.perception.content' | translate}}</p>
    </div>
  </app-info-modal>
</div>
<div class="mt-5 flex justify-content-center">
  <p-selectButton
    [options]="pieOptions"
    [(ngModel)]="pie"
    optionLabel="label"
    optionValue="value"
    allowEmpty="false"
    (onChange)="updateChart()"
    >
  </p-selectButton>
</div>
<div class="mt-8" id="perceptionChart"></div>
