<p-dialog
  [header]="studyZone ? studyZone.name : ''"
  [(visible)]="visible"
  [style]="{ minHeight: '80dvh', minWidth: '40dvw' }"
  [dismissableMask]="true"
  (onHide)="closeDialog()"
>
  <div class="flex flex-column gap-4">
    <!-- Descripción -->
    <div class="flex flex-column gap-2">
      <h3 class="text-lg">
        {{ "admin.studyZone.studyZoneDialog.description" | translate }}:
      </h3>
      <p>{{ studyZone?.description }}</p>
    </div>
    <!-- Conclusión -->
    <div class="flex flex-column gap-2">
      <h3 class="text-lg">
        {{ "admin.studyZone.studyZoneDialog.conclusion" | translate }}:
      </h3>
      <p>{{ studyZone?.conclusion }}</p>
    </div>
    <!-- Fechas de inicio y fin -->
    <div class="flex flex-column gap-2">
      <h3 class="text-lg">
        {{ "admin.studyZone.studyZoneDialog.startAndEndDate" | translate }}:
      </h3>
      <p>
        {{ studyZone?.start_date | date : "dd/MM/yyyy" }} -
        {{ studyZone?.end_date | date : "dd/MM/yyyy" }}
      </p>
    </div>
    <!-- Ficheros -->
    @if(studyZone.relationships.documents.length > 0){
    <div class="flex flex-column gap-2">
      <h3 class="text-lg">
        {{ "admin.studyZone.studyZoneDialog.files" | translate }}:
      </h3>
      <ul class="m-0">
        @for(file of studyZone.relationships.documents; track $index){
        <li>
          <a href="{{ file.file }}" target="_blank">{{ file.name }}</a>
        </li>
        }
      </ul>
    </div>
    } @if(studyZone.relationships.collaborators.length > 0){
    <!-- Colaboradores -->
    <div class="flex flex-column gap-2">
      <h3 class="text-lg">
        {{ "admin.studyZone.studyZoneDialog.collaborators" | translate }}:
      </h3>
      @for(collaborator of studyZone.relationships.collaborators; track $index){
      <div>
        <p>
          <span class="font-medium">{{ "admin.studyZone.studyZoneDialog.collaboratorName" | translate }} :</span>
          {{ collaborator.collaborator_name }}
        </p>
        <p>
          <span class="font-medium">{{ "admin.studyZone.studyZoneDialog.contactName" | translate }} :</span>
          {{ collaborator.contact_name }}
        </p>
        <p>
          <span class="font-medium">{{ "admin.studyZone.studyZoneDialog.contactEmail" | translate }} :</span>
          <a href="mailto:{{ collaborator.contact_email }}">{{
            collaborator.contact_email
          }}</a>
        </p>
        <p>
          <span class="font-medium">{{ "admin.studyZone.studyZoneDialog.contactPhone" | translate }} :</span>
          {{ collaborator.contact_phone }}
        </p>
        <p><span class="font-medium">{{ "admin.studyZone.studyZoneDialog.logo" | translate }} :</span></p>
        <img
          src="{{ collaborator.logo }}"
          alt="Logo del col·laborador"
          class="w-full"
        />
      </div>
      <hr />
      }
    </div>
    }
  </div>
</p-dialog>
