.layout-sidebar {
  scrollbar-width: none;
  position: fixed;
  width: 80px;
  height: calc(100vh - 6rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  transition: left $transitionDuration $transitionDuration,
    width $transitionDuration $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: $borderRadius;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
  overflow-x: hidden;
}

.language-dialog {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: $borderRadius;
    transition: background-color $transitionDuration,
      box-shadow $transitionDuration;

    img {
      flex: 1;
    }
    span {
      flex: 6;
    }

    &.active {
      background: var(--orange-transparency);
      border-color: var(--primary-color);
    }

    &:hover {
      background-color: var(--orange-transparency);
    }

    &:focus {
      @include focused-inset();
    }
  }
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;

  > li:first-child {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
  }

  .layout-root-menuitem {
    > .layout-menuitem-root-text {
      font-size: 0.857rem;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--surface-900);
      margin: 0.75rem 0;
    }

    > a {
      display: none;
    }
  }

  a {
    user-select: none;

    &.active-menuitem {
      > .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  li.active-menuitem {
    > a {
      .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  .menu-item,
  .p-menuitem-text {
    transition: opacity $transitionDuration ease;
    opacity: 0;
    width: 100%;
  }

  a,
  button {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: $borderRadius;
    transition: background-color $transitionDuration,
      box-shadow $transitionDuration;

    .layout-menuitem-icon {
      margin-right: 0.5rem;
    }

    .layout-submenu-toggler {
      font-size: 75%;
      margin-left: auto;
      transition: transform $transitionDuration;
    }

    &.active-route {
      background: var(--primary-color);
      border-color: var(--primary-color);
    }

    &:hover {
      background-color: var(--orange-transparency);
    }

    &:focus {
      @include focused-inset();
    }
  }

  ul {
    overflow: hidden;
    border-radius: $borderRadius;

    li {
      a {
        margin-left: 1rem;
      }

      li {
        a {
          margin-left: 2rem;
        }

        li {
          a {
            margin-left: 2.5rem;
          }

          li {
            a {
              margin-left: 3rem;
            }

            li {
              a {
                margin-left: 3.5rem;
              }

              li {
                a {
                  margin-left: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .p-panelmenu-panel {
    font-family: "Space Grotesk";
    chevronrighticon,
    chevrondownicon {
      display: none !important;
    }
    .p-panelmenu-header-content {
      background-color: transparent;
      border: none;
    }
    .p-menuitem-icon {
      font-size: 1.7rem;
    }
    .p-menuitem-text {
      font-weight: normal;
    }
    .p-panelmenu-content {
      border: none;
    }
    p-panelmenusub {
      li {
        height: auto !important;
        .p-menuitem-icon {
          font-size: 1rem !important;
        }
        .p-menuitem-content {
          border-radius: 12px !important;
          &:hover {
            background-color: var(--orange-transparency) !important;
            border-radius: 12px !important;
            transition: none;
          }
          width: 100%;
          a:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
