<div class="layout-wrapper layout-theme-light layout-overlay p-ripple-disabled">
  <div class="layout-sidebar" [class.active]="isAdminMenuOpen">
    <app-menu

      [currentLang]="currentLang"
      (toggleLangMenu)="openLanguageMenu()"
      (toggleAdminMenu)="toggleAdminMenu($event)"
    />
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet />
    </div>
  </div>
  <div class="layout-mask"></div>
</div>
<app-spinner [loading]="loading" />
<p-toast position="top-center" />
<p-dialog
  [(visible)]="isLanguageMenuOpen"
  [style]="{ width: '20dvw' }"
  [modal]="true"
  [dismissableMask]="true"
  styleClass="bg-white language-dialog"
>
  <ng-template pTemplate="headless">
    <div class="flex flex-column gap-3 p-4 align-items-center">
      <button
        *ngFor="let item of supportedLanguages"
        (click)="changeLanguage(item.code)"
        type="button"
        class="p-button p-button-rounded p-button-outlined w-full text-black-alpha-90"
        [class.active]="currentLang === item.name"
      >
        <img
          [src]="
            '.../../assets/images/flags/' + item.code.toUpperCase() + '.webp'
          "
          alt="flag"
          height="20"
          width="25"
          style="width: 25px"
          class="border-round-sm mr-2"
        />
        <span>{{ item.name }}</span>
      </button>
    </div>
  </ng-template>
</p-dialog>
