<p-toolbar #toolBar>
  <ng-template pTemplate="start" class="min-w-max"> </ng-template>

  <ng-template pTemplate="end">
    <div class="flex gap-2">
      <p-button
        (onClick)="activeFilters()"
        [ngClass]="{ active: isFilterActive }"
        pTooltip="{{
          isFilterActive
            ? ('map.filters.disable' | translate)
            : ('map.filters.enable' | translate)
        }}"
        tooltipPosition="bottom"
      >
        <i
          class="pi"
          [ngClass]="isFilterActive ? 'pi-filter' : 'pi-filter-slash'"
        ></i>
      </p-button>
      <p-button
        (onClick)="toggleShowFilters()"
        [ngClass]="{ active: showFilters }"
        pTooltip="{{ 'map.filters.title' | translate }}"
        tooltipPosition="bottom"
      >
        <i class="pi pi-sliders-h"></i>
      </p-button>
      <p-button
        (onClick)="toggleShowMapLayers()"
        pTooltip="{{ 'map.layers.title' | translate }}"
        tooltipPosition="bottom"
      >
        <i class="pi pi-clone"></i>
      </p-button>
      <p-button
        [disabled]="isStudyZonesBtnDisbaled"
        (onClick)="toggleShowMapStudyZonesLayers()"
        label="{{ 'map.filters.studyZones' | translate }}"
        tooltipPosition="bottom"
      >
      </p-button>
    </div>
  </ng-template>
</p-toolbar>
