<ul class="layout-menu pt-2 pb-2">
  <li class="p-0">
    <a routerLink="/">
      <img
        src="../../../../assets/images/home/header/isotipo-color-SC.png"
        alt="logo"
        class="logo"
        style="width: 30px; border-radius: 7px">
      <span class="menu-item"> SoundCollect</span>
    </a>
  </li>
  <p-divider />
  <li>
    <a
      pRipple
      routerLink="/map"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
      }"
      routerLinkActive="active-route"
    >
      <i class="pi pi-fw pi-map mr-2" style="font-size: 1.7rem"></i>
      <span class="menu-item"> {{ "map.titleMenu" | translate }} </span>
    </a>
  </li>
  <li>
    <a routerLink="/resum" routerLinkActive="active-route">
      <i class="pi pi-fw pi-file-edit mr-2" style="font-size: 1.7rem"></i>
      <span class="menu-item"> {{ "overview.titleMenu" | translate }} </span>
    </a>
  </li>
  <li>
    <a routerLink="/soundscape" routerLinkActive="active-route">
      <i class="pi pi-fw pi-chart-pie mr-2" style="font-size: 1.7rem"></i>
      <span class="menu-item"> {{ "soundscape.titleMenu" | translate }} </span>
    </a>
  </li>
  <p-divider />
  <li>
    <a [href]="'app.linkManual' | translate" target="_blank">
      <i class="pi pi-fw pi-book mr-2" style="font-size: 1.7rem"></i>
      <span class="menu-item"> {{ "app.manual" | translate }} </span>
    </a>
  </li>
  <ng-template [ngxPermissionsOnly]="['MANAGE-ADMIN']">
    <p-divider />
    <li id="admin-menu">
      <p-panelMenu [model]="adminItems" styleClass="w-full" />
    </li>
  </ng-template>
  <p-divider />
  <div class="h-full flex flex-column justify-content-end gap-3">
    <li>
      <button
        (click)="toggleLanguageMenu()"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <i class="pi pi-fw pi-globe mr-2" style="font-size: 1.7rem"></i>
        <span class="menu-item">{{ "app.languageDialog.language" | translate }}: {{ currentLang }} </span>
      </button>
    </li>
    <li>
      <button
        (click)="logout()"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <i class="pi pi-fw pi-sign-out mr-2" style="font-size: 1.7rem"></i>
        <span class="menu-item"> {{ "app.logout" | translate }} </span>
      </button>
    </li>
  </div>
</ul>
