<ul class="layout-menu">
  <li>
    <icon-soundcollect [iconClass]="'w-full mr-2 w-2rem h-2rem'" />
    <span class="menu-item"> SoundCollect</span>
  </li>
  <p-divider />
  <li>
    <a
      pRipple
      routerLink="/"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
      }"
      routerLinkActive="active-route"
    >
      <icon-map [iconClass]="'mr-2'" />
      <span class="menu-item"> {{'map.titleMenu' | translate}} </span>
    </a>
  </li>
  <li>
    <a routerLink="/resum" routerLinkActive="active-route">
      <icon-bar-chart [iconClass]="'mr-2'" />
      <span class="menu-item"> {{'overview.titleMenu' | translate}}  </span>
    </a>
  </li>
  <li>
    <a routerLink="/soundscape" routerLinkActive="active-route">
      <i class="pi pi-fw pi-volume-up mr-2" style="font-size: 2rem"></i>
      <span class="menu-item"> {{'soundscape.titleMenu' | translate}} </span>
    </a>
  </li>
  <p-divider />
  <div class="h-full flex flex-column justify-content-end gap-3">
    <li>
      <button
        (click)="logout()"
        pButton
        type="button"
        class="p-button-rounded p-button-outlined w-full"
      >
        <icon-logout />
        <span class="menu-item"> {{'app.logout' | translate}} </span>
      </button>
    </li>
  </div>
</ul>
