<div class="card w-full" >
  <ng-template [ngxPermissionsOnly]="['MANAGE-OBSERVATIONS']">
    <p-table
      #dtobservations
      [value]="observations"
      [globalFilterFields]="['id', 'attributes.user_id', 'attributes.latitude', 'attributes.longitude']"
      [tableStyle]="{ 'min-width': '100%' }"
      [rows]="10"
      [paginator]="observations.length > 10"
      [rowsPerPageOptions]="[10, 25, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <p-iconField iconPosition="right" class="mr-auto">
            <input
              pInputText
              type="text"
              (input)="dtobservations.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
              style="padding-right: 30px;"
              />
              <p-inputIcon style="margin-left: -25px;">
                <i class="pi pi-search" ></i>
              </p-inputIcon>
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 230px">
            ID
          </th>
          <th style="width: 230px">
            {{ "observations.idUser" | translate }}
          </th>
          <th style="width: 20%" class="text-left">
            {{ "observations.geolocation" | translate }}
          </th>
          <th style="width: 100px" class="text-right">
            {{ "admin-user.list.actions" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-observation>
        <tr>
          <td>
            <span class="p-column-title">id</span>
            {{ observation.id }}
          </td>
          <td>
            <span class="p-column-title">user_id</span>
            {{ observation.attributes.user_id }}
          </td>
          <td>
            <span class="p-column-title">geolocation</span>
            <div class="flex flex-wrap gap-2">
              <button (click)="observationSelectedForMap = observation" pButton class="p-tag">Lat: {{observation.attributes.latitude}} - Long: {{observation.attributes.longitude}}</button>
            </div>
          </td>
          <td class="text-right">
            <span class="p-column-title">actions</span>
            <div class="flex gap-2 justify-content-end">
                <ng-template [ngxPermissionsOnly]="['DELETE-OBSERVATIONS']">
                    <button pButton type="button" (click)="observationSelected = observation" [label]="'observations.show' | translate" [outlined]="true" severity="secondary" class="p-button-rounded"  icon="pi pi-info-circle"></button>
                    <button pButton type="button" [label]="'observations.delete' | translate" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteObservation(observation, $event)"></button>
                </ng-template>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No observations found.</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

</div>

<p-confirmPopup>
  <ng-template pTemplate="content">
      <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
          <i [class]="'pi pi-exclamation-circle'" class="text-6xl text-primary-500"></i>
          @if(showTrashedObservations){
            <p>{{ 'observations.restore-message' | translate}}</p>
          }
          @else{
            <p>{{ 'observations.delete-message' | translate}}</p>
          }
      </div>
  </ng-template>
</p-confirmPopup>

<app-observation-info-modal
  [isOpen]="observationSelected ? true : false"
  [observationSelected]="observationSelected"
  (hideModal)="observationSelected = null"
/>
<app-observation-map-modal
  [isOpen]="observationSelectedForMap ? true : false"
  [observationSelected]="observationSelectedForMap"
  (hideModal)="observationSelectedForMap = null"
/>
