<p-sidebar
  [(visible)]="showMapLayers"
  [position]="'right'"
  [modal]="false"
  [styleClass]="'floatSidebar col-10 lg:col-3 md:col-4'"
  [blockScroll]="false"
  [closeOnEscape]="true"
>
<div
  class="flex align-items-center mt-3"
>
  <p-radioButton
    [inputId]="'studyZoneNull'"
    name="studyZone"
    [(ngModel)]="layerId"
    [value]="null"
    (onClick)="toggleLayerVisibility(null, $event)"
  />
  <label [htmlFor]="'studyZoneNull'" class="ml-2">
    {{ 'map.layers.noStudyZone' | translate }}
  </label>
</div>
@for(studyZone of studyZones; track trackById; let i = $index){
  @if(studyZone.is_visible){
    <div class="flex align-items-center mt-3">
      <p-radioButton
        [inputId]="'studyZone' + studyZone.id"
        name="studyZone"
        [(ngModel)]="layerId"
        [value]="studyZone.id"
        (onClick)="toggleLayerVisibility(studyZone.id, $event)"
      />
      <label [htmlFor]="'studyZone' + studyZone.id " class="ml-2">
        {{ studyZone.name }}
      </label>
      <p-button icon="pi pi-info-circle" class="ml-2" [rounded]="true"  [text]="true" (onClick)="showModal(studyZone.id)"></p-button>
    </div>
  }
}
</p-sidebar>
