<div class="card">
  <p-table [value]="studyZones" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="caption">
      <h2>{{ "admin.studyZone.list.title" | translate }}</h2>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">
          {{ "admin.studyZone.list.name" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.startDate" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.endDate" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.view" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.enable" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.delete" | translate }}
        </th>
        <th class="text-center">
          {{ "admin.studyZone.list.update" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-studyZone>
      <tr>
        <td class="text-center">{{ studyZone.name }}</td>
        <td class="text-center">
          {{ studyZone.start_date | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-center">
          {{ studyZone.end_date | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            [icon]="getIcon(studyZone.id)"
            (click)="viewStudyZone(studyZone.id)"
          ></button>
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            (click)="enableStudyZone(studyZone.id)"
          ></button>
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            (click)="confirmDeleteStudyZone($event, studyZone.id)"
          ></button>
          <p-confirmPopup [styleClass]="'custom-confirm-popup'" />
          <p-toast />
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            (click)="editStudyZone(studyZone.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
